.footer__container--full-width {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2rem 0rem;
  background: rgb(63, 156, 200);
  background: linear-gradient(
    151deg,
    rgba(63, 156, 200, 1) 24%,
    rgba(23, 204, 222, 1) 60%
  );
}

.footer__container {
  width: 100%;
  max-width: 85rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;

  padding-left: clamp(1rem, 3vw, 2rem);
  padding-right: clamp(1rem, 3vw, 2rem);
}

.footer-logo__container {
  display: flex;
  align-items: center;
  width: 20%;
}

.footer__logo {
  width: 120px;
  height: 70%;
  object-fit: contain;
}

.footer__site-map {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.footer__site-map__list {
  list-style: disc;
  color: var(--color-white);
  list-style-position: inside;
  width: 100%;
}

.footer__site-map__item {
  margin: 0.25rem 0rem;
}

.footer__site-map__link {
  padding: 0;
  font-weight: bold;
  letter-spacing: 2px;
}

.footer__site-map__link:hover {
  text-decoration: underline;
}

.footer__social {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 2rem;
}

.footer__social__list {
  display: flex;
  gap: 1.5rem;
  padding-left: 0.5rem;
}

.footer__social__item {
  margin-bottom: 0.5rem;
}

.footer__social__image {
  width: 30px;
  transition: 0.2s;
  cursor: pointer;
}

.footer__social__image:hover {
  transform: scale(1.1);
}

.instagram {
  margin-right: 1rem;
}

@media (max-width: 620px) {
  .footer-logo__container {
    display: none;
  }
}

@media (max-width: 420px) {
  .footer__container {
    flex-direction: column;
    justify-content: center;
  }

  .footer__social {
    align-self: center;
    gap: 1rem;
    justify-content: center;
  }
}
