:root {
  --color-brand-1: #3f9cc8;
  --color-brand-2: #17ccde;
  --color-brand-hover: #1497c7;

  --color-white: #ffffff;
  --text-color: #215486;

  --font-family-1: "HK Grotesk", sans-serif;

  --font-title-1: 2.5rem;
  --font-title-2: 1.5rem;

  --font-text-1: 1rem;
  --font-text-2: 0.75rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box !important;
}

body {
  height: 100vh;
  width: 99vw;
  font-family: var(--font-family-1);
  -webkit-font-smoothing: antialiased
  text-transform: uppercase;
  overflow-x: hidden;
}

button,
a {
  color: var(--color-white);
  transition: 0.3s;
  cursor: pointer;
  font-family: var(--font-family-1);
  text-transform: uppercase;
}
