:root {
  --color-brand-1: #3f9cc8;
  --color-brand-2: #17ccde;
  --color-brand-hover: #1497c7;

  --color-white: #ffffff;
  --text-color: #215486;

  --font-family-1: "HK Grotesk", sans-serif;

  --font-title-1: clamp(2.2rem, 7vw, 2.5rem);
  --font-title-2: clamp(1.2rem, 7vw, 1.5rem);

  --font-text-1: clamp(0.85rem, 7vw, 1rem);
  --font-text-2: clamp(0.75rem, 7vw, 0.8rem);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: var(--font-family-1);
  line-height: 150%;
  overflow-x: hidden;
}

a {
  color: var(--color-white);
  font-family: var(--font-family-1);
  text-transform: uppercase;
  font-size: var(--font-text-1);
}

button {
  transition: 0.3s;
  cursor: pointer;
}