.title-1 {
  color: var(--text-color);
  letter-spacing: 5px;
  font-weight: 700;
  font-size: var(--font-title-1);
  margin-left: 0.5rem;
}

.title-2 {
  color: var(--text-color);
  letter-spacing: 5px;
  font-weight: 700;
  font-size: var(--font-title-1);
}

.title-4--white {
  color: var(--color-white);
  letter-spacing: 3px;
  font-weight: 700;
  font-size: var(--font-title-2);
}

.paragraph-1 {
  color: var(--text-color);
  letter-spacing: 2px;
  font-weight: bold;
  font-size: var(--font-text-2);
}

.paragraph-1--white {
  color: var(--color-white);
  letter-spacing: 2px;
  text-align: center;
  line-height: 150%;
  font-weight: bold;
  font-size: var(--font-text-2);
}
